.scrollable-youtube-recommended {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
}

::-webkit-scrollbar {
    content: '';
}

::-webkit-scrollbar-thumb {
    border-color: var(--yt-spec-general-background-b);
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border: 2px solid #000;
}
::-webkit-scrollbar-thumb {
    background-color: var(--yt-spec-icon-disabled);
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 53.3%, .2);
    border: 2px solid #fcfcfc;
    min-height: 30px;
}
::-webkit-scrollbar-track {
    background-color: var(--yt-spec-general-background-b);
}
::-webkit-scrollbar-track {
    background-color: #000;
}
::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}